{% include 'console.html' %}
<section class="content-header">
      <h1>
        Zabbix监控信息
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">监控信息</li>
      </ol>
</section>

<section class="content container-fluid">
        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">生产环境监控信息</h3>
            </div>
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	          <div class="row">
                  <div class="col-sm-6">
	              </div>
                  <div class="col-sm-6"></div>
              </div>
              <div class="row">
	          <div class="col-sm-12">
{% include 'foot.html' %}